</br>
<header>
	<h1>Soldadinho de Chumbo</h1>
</header>
		<img class="ufba" src="http://www.ufba.br/sites/devportal.ufba.br/files/brasao_ufba.jpg">
		<section class="login-form">
			<form class="form-signin">
				<h1>Login</h1>  
				<input type="text" class="form-control" placeholder="Usuario" required autofocus>
				<input type="password" class="form-control" placeholder="Senha" required>
				<!--<button class="btn btn-lg btn-primary btn-block" type="submit">
							Entrar</button>-->
				<div class="text-md-center"><%= link_to 'Reserva', reserves_path, class: "btn btn-lg btn-primary btn-block" %></div>
				<label class="checkbox pull-left">
					<input type="checkbox" value="remember-me"> Lembrar me
				</label>
			</form>
		</section>
		<section class="group">
			<h2>Grupo</h2>
			<p>César | Clara Battesini | Diedre Carmo | Diego Corrêa | Joevan Santos</p>
		</section>
		<footer>
			<h1 class="title">Laboratório de Programação Web</h1>
			<h2>Universidade Federal da Bahia</h2>
		</footer>