<p id="notice"><%= notice %></p>

<p>
  <strong>Serialnumber:</strong>
  <%= @weapon.serialNumber %>
</p>

<p>
  <strong>Model:</strong>
  <%= @weapon.model %>
</p>

<p>
  <strong>Factory:</strong>
  <%= @weapon.factory %>
</p>