<header class="header-reserva">
  <h1>Adicionar Soldado</h1>
<div class="btn btn-secondary">
    <%= link_to 'Voltar', reserf_soldiers_path %>
</div>
</header>
<br>
<div>
    <%= render 'form' %>
</div>