<p id="notice"><%= notice %></p>

<h1 class="text-md-center">Emprestimos do soldado</h1>

<div class="col-md-2"></div>
<div class="col-md-8">
<div class="text-md-right"><%= link_to new_reserf_soldier_loan_path(@reserve, @soldier) do %><span class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></span><% end %></div>
  
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Ativo</h4>
          <p class="card-text">Emprestimo feito no dia XX-XX-XXXX</p>
        </div>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">Arma X modelo Y</li>
          
          <li class="list-group-item">Munição X quantidade Y</li>
          
          <li class="list-group-item">Acessorio X quantidade Y</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link">Deletar</a>
        </div>
      </div>
    </div>

</div>
