<p id="notice"><%= notice %></p>

<p>
  <strong>Soldier:</strong>
  <%= @loan.soldier.warName %>
</p>
<div class="col-md-2"></div>
<div class="col-md-8">
	<div class="col-md-4">
		<%=link_to "Emprestimo de arma", new_reserf_soldier_loan_loan_weapon_path(@reserve,@soldier,@loan)%>
	</div>
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		
	</div>
</div>