<!DOCTYPE html>
<html>
<head>
  <title>Soldadinho de Chumbo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
<div class="col-md-2"></div>
<div><%= yield %></div>

</body>
</html>
